/* header {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: #cca300;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
  
  header > div > h2 {
    color: white;
    font-size: 28px;
  }
  
  header > div > img {
    height: 160px;
  } */

  .main-header{
    height: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:center;
    color: #FFFFFF;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    background-color: #8f7700;
  }
  
  .main-header img{
    width: auto;
    height: auto;
  }
  
  /* .the-main-header h2{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif
  } */

  .the-tweet-header{
    display: flex;
    flex-direction: column;
  }
  
  
  
  @media only screen and (min-width: 1024px) {
    /* Header styles */
    .main-header {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: max-content;
      flex-grow: 1;
    }
  
    .the-tweet-header{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .the-tweet-body{
      padding-top: 120px;
      flex-grow: 1;
      padding-left: 5%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .the-tweet-header{
      height: 200px;
    } 
  }